body {
  background-color: #EEEEEE;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.form-control.container {
  max-width: 1000px;

}
.btn {
  margin: 20px 10px;
}
.text-header {
  text-transform: uppercase;
  font-weight: 700;
  color: #454545;
}
