<main class="register-container">
  <form class="form-control">
    <div class="product-info-container">
      <div class="product-info">
        <input type="text" name="" id="" class="input-info" placeholder="Nome do Produto">
        <input type="text" name="" id="" class="input-info" placeholder="Especificação">
        <input type="text" name="" id="" class="input-info" placeholder="Fabricante">
        <input type="text" name="" id="" class="input-info" placeholder="Fornecedor">
        <input type="text" name="" id="" class="input-info" placeholder="NCM">
      </div>
      <div class="product-info">
        <input type="number" name="" id="" class="input-info" placeholder="Garantia">
        <input type="text" name="" id="" class="input-info" placeholder="Observações">
        <input type="number" name="" id="" class="input-info" placeholder="Preço de Custo">
        <input type="number" name="" id="" class="input-info" placeholder="Preço de Venda">
        <select name="" id="">
          <option value="">REVENDA</option>
          <option value="">INTERNO</option>
        </select>
      </div>
      <button type="submit">Cadastrar Produto</button>
    </div><!--product-info-container-->
  </form><!--form-control-->
</main><!--register-container-->
