<div class="main">
  <div class="esquerda-login">
    <img
      src="assets/images/logo.svg"
      class="left-login-image"
      alt="Astronauta em meio de estrelas e planetas"
    />
  </div>
  <div class="direita-login">
    <div class="card-login">
      <h1>Login</h1>
      <div class="textfield">
        <input type="text" name="usuario" placeholder="Usuário" />
      </div>
      <div class="textfield">
        <input type="password" name="senha" placeholder="Senha" />
      </div>
      <button class="btn-login">Entrar</button>
    </div>
  </div>
</div>
