@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  background: #fb8500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.esquerda-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.esquerda-login > h1 {
  font-size: 3vw;
  color: #023047;
}

.left-login-image {
  width: 35vw;
}

.direita-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #023047;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
  background-color: #2e2f88;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 800;
  margin: 0;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.textfield > label {
  color: #aadee8;
  margin-bottom: 10px;
}

.textfield > input::placeholder {
  color: #aadee8;
}

.btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #ffffff;
  background: #2e2f88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #14153f;
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .esquerda-login {
    display: none;
  }

  .esquerda-login {
    width: 100%;
    height: auto;
  }

  .direita-login {
    width: 100%;
    height: auto;
  }

  .left-login-image {
    width: 50vw;
  }

  .card-login {
    width: 90%;
  }
}
