<div class="main">
    <div class="esquerda-login">
      <img
        src="assets/images/logo.svg"
        class="left-login-image"
        alt="Logo da empresa 70 e dev"
      />
    </div>
    <div class="direita-login">
      <form (ngSubmit)="onSubmit()" #form="ngForm" class="card-login">
        <h1>Registre-se</h1>
        <div class="textfield">
          <input type="text" class="input-field" name="login" [(ngModel)]="account.login" placeholder="Usuário" required />
        </div>
        <div class="textfield">
          <input type="password" class="input-field" name="password" [(ngModel)]="account.password" placeholder="Senha" required/>
        </div>
        <button type="submit" [disabled]="form.form.invalid" class="waves-effect waves-light btn">Registrar</button>
      </form>

      <a class="create-link" routerLink="/login">Já tenho conta. Ir para Login</a>
    </div>
  </div>

